<div class="vf-user-login-form card">
  <form {{ attributes }}>
    {{ element.form_build_id }}
    {{ element.form_id }}
    <div class="input-icon mail-icon">
      {{ element.name }}
    </div>
    {{ element.mail }}
    {{ element.actions }}
  </form>
</div>
